  body {
    margin: 0;
    font-family: "Inter", system-ui ;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url("https://www.1zoom.ru/big2/931/303735-alexfas01.jpg") no-repeat;
    background-size: cover;
    background-position:center;
    min-height: 100vh;
  }


*{
  font-family: "inter", system-ui;
}


.wrapper {
background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
border-radius: 20px;
max-width: 1080px;
margin: 50px auto;
background-color: rgba(255, 255, 255, 0.7);
}

header {
  border-bottom: 1px solid #EAEAEA;
  img {
    margin-right: 15px;
  }
h3,p {
  margin: 0;
}
}

.content {
  h1 {
    margin: 0;
  }

  .collection {
    position: relative;
    padding-top: 5px;
  }

}
.button {
background: #fff;
border: 1px solid #f2f2f2 ;
box-sizing: border-box;
border-radius: 8px;
height: 32px;
width: 32px;
cursor: pointer;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
  overflow: hidden;
  background-color: white;

  input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
  }
}





.preloader {
  margin-top: 200px;
}
.preTitle {
  margin-top: 150px;
}

.cart {
  margin: 80px;
}
              
.arrow {
  position: absolute;
}

.cart-total-block {
  ul {
    display: block;
    margin-bottom: 40px !important;
    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
    }
    div {
      flex: 1;
      height: 1;
      border-bottom: 1px dashed #dfdfdf;
      position: relative;
      top: -4px;
      margin: 0 7px;
    }
  }
  .green-btn {
    position: relative;
      &:hover {
        .forward{
          transform: translateX(5px);
        }
        .back {
          transform: translateX(-5px);
        }
      }
    .forward {
      position: absolute;
      right: 30px;
      transition: transform 0.15s ease-in-out;
    }
    .back {
      position: absolute;
      left: 10px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.green-btn {
  width: 100%;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: lighten($color: #9dd558, $amount: 5%);
  }

  &:active {
    background: darken($color: #9dd558, $amount: 5%);
  }
}


.cart-item {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;

  .cart-item-img {
    height: 70px;
    width: 70px;
    background-size:contain;
    background-position: 0 -3px;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  p {
    font-size: 14px;
    margin: 0;
  }

  b {
    font-size: 16px;
  }

  .remove-btn {
    opacity: 0.4;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}